twine
jupyter==1.0.0
matplotlib==2.1.0
gym[all]==0.9.4
pandas==0.21.0
pytest==3.2.3
pytest-cov==2.5.1
pytest-pep8==1.0.6

-e git+https://github.com/ParrotPrediction/openai-envs.git#egg=parrotprediction-openai-envs
