jupyter==1.0.0
jupyterlab>=1.2.3
jupyter_contrib_nbextensions>=0.5.1
matplotlib>=3.1.1
papermill>=1.2.1
gym==0.11
pandas>=0.25
git+https://github.com/ParrotPrediction/openai-envs.git#egg=parrotprediction-openai-envs
